.input {
  height: 3.375rem;
  width: 100%;
  padding: 0.5rem;
  background: var(--gray-500);
  border: 0px;
  outline: 2px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
}

.input:focus {
  border: 2px solid var(--purple-dark);
}

.inputContainer {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-dark);
  border-radius: 8px;
  padding: 1rem;
  color: var(--gray-100);
  transition: 0.4s;
}

.button:hover {
  cursor: pointer;
  background: var(--blue);
}
