.header {
  height: 12.5rem;
  background: var(--gray-700);

  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  color: var(--blue);
  font-size: 3.5rem;
  font-weight: bold;
}
.title::after {
  content: "do";
  color: var(--purple-dark);
}
