.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  margin: -1.75rem auto;
}

.newTask {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  max-height: 53px;
}

.task {
}
